node_modules
.DS_Store
dist
dist-ssr
*.local
count.txt
.env
.nitro
.tanstack
.wrangler
.output
.vinxi
todos.json


.vscode
.idea
._*
.agents
.agents/*
.agents/skills/*
.zed
CLAUDE.md
AGENTS.md
.codex
